<h1>Data Science Tools and Ecosystem<h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. SQL
2. Python
3. R

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Scikit-Learn

|Data Science Tools|
|------------------|
|MySQL             |
|Apache CouchDB    |
|Hadoop File System|

<h3>Below are a few examples of evaluating arithmetic expressions in Python<h3>

In [2]:
(3*4)+5
### This a simple arithmetic expression to mutiply then add integers

17

In [3]:
200/60
###  This will convert 200 minutes to hours by diving by 60

3.3333333333333335

<h4>List popular languages for Data Science<h4>
    
**Objectives:**
    
- Julia
- R
- SQL

<h2>Author<h2>
    
Marcos Ira√±eta